* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    color: white;
}

#hero {
    background-image: url(../images/backgroundLarge.jpg);
    background-size: cover;
}

#logo img {
    width: 60px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #080B14;
    padding: 10px 90px;
}

#buttons #button1 {
    background-color: #0060DD;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    color: white;
    cursor: pointer;
}

#buttons #button2 {
    background-color: black;
    color: white;
    border: 0.5px solid white;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    cursor: pointer;
}

#streaming-channels {
    width: 30%;
}

legend {
    text-align: center;
    font-size: small;
}

#form {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

input[type=email] {
    background-color: #32333C;
    border: none;
    height: 40px;
    border-radius: 5px 0 0 5px;
    width: 300px;
}

input::placeholder {
    padding-left: 10px;
}

input[type=submit] {
    background-color: #0060DD;
    border-radius: 0 5px 5px 0;
    border: none;
    height: 40px;
    width: 200px;
    color: white;
    cursor: pointer;
}

#hero-content #p1 {
    text-align: center;
    font-size: x-small;
}

#hero-content p a {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#center1 {
    padding: 80px 0 30px 0;
}

#center2 {
    padding: 20px 0 65px 0;
}

#hero-content #p2 {
    text-align: center;
    padding-bottom: 105px;
    font-size: small;
}

main {
    background-color: #080B14;
}

main .no {
    text-decoration: none;
}

#tabs {
    padding-top: 45px;
}

#tabs a {
    color: white;
    padding-right: 30px;
}

main img {
    width: 365px;
    padding-right: 25px;
    padding-bottom: 15px;
    border-radius: 5px;
}

main div {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}


#t1 {
    padding: 120px 70px 0 70px;
}

#t2 {
    padding: 0 70px 90px 70px;
}

footer {
    background-color: #080B14;
    color: white;
    font-size: small;
    text-align: center;
}

footer img {
    width: 60px;
    padding: 85px 0 25px 0;
}

#d1, #d2, #d3 {
    font-size: small;
    padding-bottom: 35px;
}

footer a {
    color: white;
    padding-right: 25px;
    text-decoration: none;
}

#fp1 {
    padding-bottom: 35px;
}

#fp2 {
    padding-bottom: 50px;
}

@media screen and (max-width:480px) {
    main div {
        flex-direction: column;
    }
    form {
        flex-direction: column;
    }
    #tabs {
        text-align: center;
    }
    main img {
        margin-left: auto;
        margin-right: auto;
    }
}