@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

#table, #table th, #table td {
    border-collapse: collapse;
    padding: 12px;
    text-align: left;
    width: 400px;
}

#colspan {
    background-color: #008E70;
}

th {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: white;
}

td {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: black;
    background-color: white;
}

#table {
    border-bottom: 3px solid #008E70;
}

#tablerow2 td {
    background-color: #F2F1F2;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    font-weight: 700;
    color: #008E70;
}

table thead tr th:first-child {
    border-radius: 5px 0 0 0;
}

table thead tr th:last-child {
    border-radius: 0 5px  0 0;
}