@import url('https://fonts.googleapis.com/css2?family=Exo&family=Varela&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #0D6367;
    height: 186px;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;
}

#logo {
    align-self: center;
}

#middle-header img {
    width: 60px;
    padding-top: 63px;
}

#middle-header a {
    padding-right: 30px;
}

#end-header img {
    width: 60px;
    padding-top: 63px;
}

#end-header a {
    padding-left: 30px;
}

#about img {
    width: 20px;
}

main {
    padding: 70px;
    display: flex;
    gap: 35px;
}

main h2 {
    font-family: 'Varela', sans-serif;
    font-size: 60px;
}

main p {
    font-family: 'Exo', sans-serif;
    font-size: 30px;
}

main img {
    width: 650px;
}

footer {
    background-color: #0D6367;
    color: white;
    font-family: 'Exo', sans-serif;
    padding: 60px 135px;
}

#footer1 {
    display: flex;
    justify-content: space-between;
    font-size: 21px;
}

#footer2 {
    display: flex;
    justify-content: end;
    font-size: 21px;
}

footer li, footer li a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.list {
    font-size: 15px;
    padding-left: 110px;
}

